.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featured-items{
    flex: 1;
    margin: 0 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.47);
-webkit-box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.47);
-moz-box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.47);

}