.widgetSm{
    flex: 1;
    box-shadow: 0px 0px 0px -10px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 5px 8px -10px rgba(0, 0, 0, 0.47);
  padding: 20px;
  margin-right: 20px;
}

.widgetSm-title{
    font-size:32px;
    font-weight: 600;
}

.widgetSm-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.widgetSm-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.widgetSm-listItem{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 8px;
    padding: 10px 0;
    background: #f9f6f6;
    border-radius: 6px;
}

.widgetSm-user{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.widgetSm-username{
    font-size: 18px;
    font-weight: 600;
}

.widgetSm-userTitle{
    font-size: 14px;
    font-weight: 600;
    color: #555;

}

.widgetSm-button{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}

.widgetSm-icon{
    font-size: 16px;
    margin-right: 5px;
}
