*{
  margin: 0 ;
  padding: 0;
  font-family: 'Source Sans 3', sans-serif;
  box-sizing: border-box;
  /* border: 1px solid black; */
}


.container{
  display: flex;
}


.link{
  text-decoration: none;
  color:inherit ;
}